@font-face {
  font-family: "Roboto_0.0.0_system";
  src: url("../../../fonts/Roboto-Medium.ttf");
  font-weight: 500; 
}
@font-face {
  font-family: "Arial Rounded MT Bold_1.51.0_system";
  src: url("../../../fonts/Arial Rounded MT Bold-Bold_1.51.0_system.ttf");
  font-weight: 700; 
}