#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb > #backgroundBox {
  background-color: transparent;
  background-image: linear-gradient(90.0deg, #2196F3 0.001%, #D6298F 99.99999999999999%);
  position: absolute;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Path_1 {
  position: absolute;
  width: 20.75628662109375px;
  height: 12.328323364257812px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Path_2 {
  position: absolute;
  width: 25.427711486816406px;
  height: 9.0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Path_3 {
  position: absolute;
  width: 33.089935302734375px;
  height: 13.0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Path_4 {
  position: absolute;
  width: 23.248199462890625px;
  height: 12.226398468017578px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Text_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Text_1 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Text_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_1 {
  position: absolute;
  width: 430.0px;
  min-height: 82.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Path_5 {
  position: absolute;
  width: 8.97367000579834px;
  height: 15.591798782348633px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Path_6 {
  position: absolute;
  width: 19.116199493408203px;
  height: 19.098621368408203px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_2 {
  position: absolute;
  width: 366.20701980590815px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Path_7 {
  position: absolute;
  width: 39.393516540527344px;
  height: 34.1757926940918px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_3 {
  position: absolute;
  width: 366.20701980590815px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_4 {
  position: absolute;
  width: 366.20701980590815px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_5 {
  position: absolute;
  width: 366.20701980590815px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_6 {
  position: absolute;
  width: 366.20701980590815px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_7 {
  position: absolute;
  width: 366.20701980590815px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_8 {
  position: absolute;
  width: 366.20701980590815px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_9 {
  position: absolute;
  width: 366.20701980590815px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_9 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Button_1 {
  position: absolute;
  width: 209.6328125px;
  min-height: 67.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Path_8 {
  position: absolute;
  width: 39.393516540527344px;
  height: 34.1757926940918px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Path_9 {
  position: absolute;
  width: 39.393516540527344px;
  height: 34.1757926940918px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Path_10 {
  position: absolute;
  width: 39.393516540527344px;
  height: 34.1757926940918px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Path_11 {
  position: absolute;
  width: 39.393516540527344px;
  height: 34.1757926940918px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Path_12 {
  position: absolute;
  width: 39.393516540527344px;
  height: 34.1757926940918px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Path_13 {
  position: absolute;
  width: 39.393516540527344px;
  height: 34.1757926940918px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Path_14 {
  position: absolute;
  width: 39.393516540527344px;
  height: 34.1757926940918px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Input_8.checked > .backgroundLayer {
  background-image: url('../../../images/33a97e43-7b89-4914-b76f-728b5c742bca.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Input_8.unchecked > .backgroundLayer {
  background-image: url('../../../images/d2933538-3485-4dd4-aa17-cc1c5ae12a9e.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Input_8 {
  position: absolute;
  width: 25.5px;
  height: 15.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_1.checked > .backgroundLayer {
  background-image: url('../../../images/33a97e43-7b89-4914-b76f-728b5c742bca.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_1.unchecked > .backgroundLayer {
  background-image: url('../../../images/d2933538-3485-4dd4-aa17-cc1c5ae12a9e.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_1 {
  position: absolute;
  width: 25.5px;
  height: 15.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_2.checked > .backgroundLayer {
  background-image: url('../../../images/33a97e43-7b89-4914-b76f-728b5c742bca.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_2.unchecked > .backgroundLayer {
  background-image: url('../../../images/d2933538-3485-4dd4-aa17-cc1c5ae12a9e.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_2 {
  position: absolute;
  width: 25.5px;
  height: 15.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_3.checked > .backgroundLayer {
  background-image: url('../../../images/33a97e43-7b89-4914-b76f-728b5c742bca.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_3.unchecked > .backgroundLayer {
  background-image: url('../../../images/d2933538-3485-4dd4-aa17-cc1c5ae12a9e.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_3 {
  position: absolute;
  width: 25.5px;
  height: 15.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_4.checked > .backgroundLayer {
  background-image: url('../../../images/33a97e43-7b89-4914-b76f-728b5c742bca.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_4.unchecked > .backgroundLayer {
  background-image: url('../../../images/d2933538-3485-4dd4-aa17-cc1c5ae12a9e.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_4 {
  position: absolute;
  width: 25.5px;
  height: 15.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_5.checked > .backgroundLayer {
  background-image: url('../../../images/33a97e43-7b89-4914-b76f-728b5c742bca.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_5.unchecked > .backgroundLayer {
  background-image: url('../../../images/d2933538-3485-4dd4-aa17-cc1c5ae12a9e.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_5 {
  position: absolute;
  width: 25.5px;
  height: 15.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_6.checked > .backgroundLayer {
  background-image: url('../../../images/33a97e43-7b89-4914-b76f-728b5c742bca.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_6.unchecked > .backgroundLayer {
  background-image: url('../../../images/d2933538-3485-4dd4-aa17-cc1c5ae12a9e.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_6 {
  position: absolute;
  width: 25.5px;
  height: 15.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_7.checked > .backgroundLayer {
  background-image: url('../../../images/33a97e43-7b89-4914-b76f-728b5c742bca.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_7.unchecked > .backgroundLayer {
  background-image: url('../../../images/d2933538-3485-4dd4-aa17-cc1c5ae12a9e.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb #s-Check_7 {
  position: absolute;
  width: 25.5px;
  height: 15.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ca161e70-5eb1-4058-9d9f-d8889ff892bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}